.Rproj.user
.Rhistory
.RData
.Ruserdata
*.sif
slurm_output/*
.mytmp/*
.myrun/*
.myvar/*
in/NHDPlusNationalData/*
in/*.7z
in/*.rds
out/*.rds
.remake/*
*.ind
cluster_out.txt
in/wbdhu4_a_us_september2020.gdb/*
